.GeneratedInvoice {
  width: 90%;
  aspect-ratio: 1.414 / 1;
  background-color: white;
  padding: 1vw;
  margin-bottom: 30px;

  .Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 0.5vw;
    border-bottom: 1px solid #e5e5e5;

    .Company {
      display: flex;
      align-items: flex-end;

      .Label {
        font-family: champagne;
        font-weight: bold;
        color: #b91680;
        font-size: 3vw;
        margin-left: -0.5vw;
      }

      .Addr {
        margin-left: 2vw;
        font-size: 0.9vw;
        font-weight: 600;
        color: rgb(57, 57, 57);
      }
    }

    .Inv {
      font-weight: bold;
      color: rgb(102, 102, 102);
      font-size: 1.5vw;
    }
  }

  .Billing {
    margin-top: 0.5vw;
    font-size: 0.9vw;
    line-height: 120%;

    display: flex;
    justify-content: space-between;

    .Head {
      font-weight: 600;
      font-size: 1vw;
    }

    .Right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .Advance {
    font-size: 1.1vw;
    padding: 2px 5px;
    color: white;
    font-weight: bold;
    background-color: rgb(91, 91, 91);
    width: fit-content;
    margin: 4vw auto 2vw auto;
  }

  .TableContainer {}
}